body
{
    background-image: none !important;
    background-color:#011637;
    overflow: auto;
    min-width: 1300px;
}

.bracket
{
    width: 1275px;
    height: 960px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    display:flex;
    flex-direction:row;
}

.round, .horizontal, .vertical
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    list-style:none;
    padding:0;
}

.round
{
    width: 100px;
    font-family: "Slabo";
    font-size: 45px;
    color: white;
    text-align: center;
}

.horizontal
{
    width: 24px
}

.vertical
{
    width: 2px;
}

.bracket-item
{
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #011637;
    border: 3px solid white;
}

.wild-card
{
    margin: 10px 0px;
}
.divisional
{
    margin: 70px 0px;
}
.championship
{
    margin: 190px 0px;
}
.superbowl
{
    margin: 430px 0px;
}

.horizontal-line
{
    height: 0px;
    width: 24px;
    border: 2px solid white;
}

#h-eight
{
    margin: 58px 0px;
}

#h-four
{
    margin: 118px 0px;
}

#h-two
{
    margin: 238px 0px;
}

#h-one
{
    margin: 478px 0px;
}

.vertical-line
{
    border: 2px solid white;
    width: 0px;
}

#v-four
{
    height: 120px;
    margin: 59px 0px;
}

#v-two
{
    height: 242px;
    margin: 118px 0px;
}

#v-one
{
    height: 482px;
    margin: 238px 0px;
}

.division-container
{
    width: 200px;
    height: 200px;
    background-color:#011637;
    display: flex;
    flex-wrap: wrap;
    float: left;
}
#afc
{
    margin-left: 280px;
    margin-right: 0px;
}
#nfc
{
    margin-left: 565px;
    margin-right: 0px;
}

#left
{
    text-align: left;
    padding-left: 7px;
}
#right
{
    text-align: right;
    padding-right: 7px;
}
.grid-x
{
    clear: both;
}


.logo
{
    height: 35vw;
    max-height: 270px;
    width: 65vw;
    max-width: 500px;
    border-radius: 50%;
    border: 8px solid #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.middle-ring
{
    height: 35.5vw;
    max-height: 274px;
    width: 65.5vw;
    max-width: 504px;
    border-radius: 50%;
    border: 8px solid #ffffff;
}

.outer-ring
{
    height: 36vw;
    max-height: 278px;
    width: 66vw;
    max-width: 508px;;
    border-radius: 50%;
    border: 8px solid #000000;
    margin: auto;
    background-image: none !important;
}

.stats
{
    border: 5px double #000000;
    background-image: none !important;
    margin: auto;
    padding: 2vw;
    width: 75vw;
    max-width: 700px;
    text-align: left !important;
}

h1
{
    font-family: "Block";
    font-size: 9vw;
    color: rgb(211, 15, 15);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
    margin: auto;
}
h2
{
    font-family: "Block";
    font-size: 10vw;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    text-align: center;
    margin: 7px auto;
}
h3
{
    font-size: 5vw;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
    text-align: center;
    font-family: "Slabo";
}
p
{
    font-family: "Slabo";
    font-size: 4vw;
}
a
{
    text-align: center;
    background-color: #011637 !important;
    background-image: none !important;
    font-size: 30px;
    font-family: "Slabo";
}

#conference, #division
{
    font-size: 40px;
    color: white;
    font-family: "Block";
    text-align: center;
}
#conference
{
    font-size: 50px;
    text-decoration: underline;
}

@media screen and (min-width: 770px) 
{
    h1
    {
        font-size: 72px;
    }
    h2 
    {
        font-size: 80px;
    }
    h3
    {
        font-size: 48px;
    }
    p
    {
        font-size: 32px;
    }
}



#bears
{
    background-color: #0B162A;
    color:#C83803;
    border-color: #C83803;
    background-image: url(../media/bears-logo.png);
}

#bengals
{
    background-color: #000000;
    color:#fb4f14;
    border-color: #fb4f14;
    background-image: url(../media/bengals-logo.png);
}

#bills
{
    background-color: #00338d;
    color:#c60c30;
    border-color: #c60c30;
    background-image: url(../media/bills-logo.png);
}

#broncos
{
    background-color: #002244;
    color:#fb4f14;
    border-color: #fb4f14;
    background-image: url(../media/broncos-logo.png);
}

#browns
{
    background-color: #311d00;
    color:#ff3c00;
    border-color: #ff3c00;
    background-image: url(../media/browns-logo.png);
}

#buccaneers
{
    background-color: #2e3031;
    color:#d50a0a;
    border-color: #d50a0a;
    background-image: url(../media/buccaneers-logo.png);
}

#cardinals
{
    background-color: #ffffff;
    color:#97233f;
    border-color: #97233f;
    background-image: url(../media/cardinals-logo.png);
}

#chargers
{
    background-color: #0080c6;
    color:#ffc20e;
    border-color: #ffc20e;
    background-image: url(../media/chargers-logo.png);
}

#chiefs
{
    background-color: #e31837;
    color:#ffb81c;
    border-color: #ffb81c;
    background-image: url(../media/chiefs-logo.png);
}

#colts
{
    background-color: #ffffff;
    color:#002C5F;
    border-color: #002C5F;
    background-image: url(../media/colts-logo.png);
}

#commanders
{
    background-color: #5a1414;
    color:#ffb612;
    border-color: #ffb612;
    background-image: url(../media/commanders-logo.png);
    background-size: 55%;
}

#cowboys
{
    background-color: #869397;
    color:#041E42;
    border-color: #041E42;
    background-image: url(../media/cowboys-logo.png);
}

#dolphins
{
    background-color: #037780;
    color:#fc4c02;
    border-color: #fc4c02;
    background-image: url(../media/dolphins-logo.png);
}

#eagles
{
    background-color: #004c54;
    color:#acc0c6;
    border-color: #acc0c6;
    background-image: url(../media/eagles-logo.png);
}

#falcons
{
    background-color: #000000;
    color:#A71930;
    border-color: #A71930;
    background-image: url(../media/falcons-logo.png);
}

#giants
{
    background-color: #0B2265;
    color:#A71930;
    border-color: #A71930;
    background-image: url(../media/giants-logo.png);
}

#jaguars
{
    background-color: #000000;
    color:#006778;
    border-color: #006778;
    background-image: url(../media/jaguars-logo.png);
}

#jets
{
    background-color: #125740;
    color:#ffffff;
    border-color: #ffffff;
    background-image: url(../media/jets-logo.png);
}

#lions
{
    background-color: #0076b6;
    color:#b0b7bc;
    border-color: #b0b7bc;
    background-image: url(../media/lions-logo.png);
}

#niners
{
    background-color: #aa0000;
    color:#b3995d;
    border-color: #b3995d;
    background-image: url(../media/niners-logo.png);
}

#packers
{
    background-color: #154035;
    color:#ffb612;
    border-color: #ffb612;
    background-image: url(../media/packers-logo.png);
}

#panthers
{
    background-color: #000000;
    color:#0085ca;
    border-color: #0085ca;
    background-image: url(../media/panthers-logo.png);
}

#patriots
{
    background-color: #002244;
    color:#c60c30;
    border-color: #c60c30;
    background-image: url(../media/patriots-logo.png);
}

#raiders
{
    background-color: #000000;
    color:#a5acaf;
    border-color: #a5acaf;
    background-image: url(../media/raiders-logo.png);
}

#rams
{
    background-color: #003594;
    color:#ffd100;
    border-color: #ffd100;
    background-image: url(../media/rams-logo.png);
}

#ravens
{
    background-color: #241773;
    color:#9e7c0c;
    border-color: #9e7c0c;
    background-image: url(../media/ravens-logo.png);
}

#saints
{
    background-color: #000000;
    color:#d3bc8d;
    border-color: #d3bc8d;
    background-image: url(../media/saints-logo.png);
}

#seahawks
{
    background-color: #002244;
    color:#69be28;
    border-color: #69be28;
    background-image: url(../media/seahawks-logo.png);
}

#steelers
{
    background-color: #000000;
    color:#ffb612;
    border-color: #ffb612;
    background-image: url(../media/steelers-logo.png);
}

#texans
{
    background-color: #a71930;
    color:#03202f;
    border-color: #03202f;
    background-image: url(../media/texans-logo.png);
}

#titans
{
    background-color: #0c2340;
    color:#4b92db;
    border-color: #4b92db;
    background-image: url(../media/titans-logo.png);
}

#vikings
{
    background-color: #4f2683;
    color:#ffc62f;
    border-color: #ffc62f;
    background-image: url(../media/vikings-logo.png);
}

#third-gray
{
    border-color: #a5acaf;
    text-shadow: -2px 0 #a5acaf, 0 2px #a5acaf, 2px 0 #a5acaf, 0 -2px #a5acaf;
}
#third-tan
{
    border-color: #9f792c;
    text-shadow: -2px 0 #9f792c, 0 2px #9f792c, 2px 0 #9f792c, 0 -2px #9f792c;
}
#third-red
{
    border-color: #e31837;
    text-shadow: -2px 0 #e31837, 0 2px #e31837, 2px 0 #e31837, 0 -2px #e31837;
}
#third-black
{
    border-color: #000000;
    text-shadow: -2px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -2px #000000;
}
#third-creamsicle
{
    border-color: #faa153;
    text-shadow: -2px 0 #faa153, 0 2px #faa153, 2px 0 #faa153, 0 -2px #faa153;
}
#third-green
{
    border-color: #125740;
    text-shadow: -2px 0 #125740, 0 2px #125740, 2px 0 #125740, 0 -2px #125740;
}