@font-face {
    font-family: 'Heathergreen';
    src:('../fonts/Heathergreen.otf') format('truetype');
    font-style: normal;
 }
 @font-face {
    font-family: 'AntipastoPro_trial';
    src: url('../fonts/AntipastoPro_trial.ttf') format('truetype');
    font-style: normal;
 }
 
 @font-face {
   font-family: 'Ombudsman-Alternate';
   src:('../fonts/Ombudsman-Alternate.otf') format('truetype');
   font-style: normal;
}
@font-face {
   font-family: 'JosefinSans_SemiBold';
   src:('../fonts/JosefinSans-SemiBold.ttf') format('truetype');
   font-weight: normal;
}