
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Linear+B&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@200&display=swap');
.glyphs{
    font-family: 'Noto Sans Linear B' sans-serif;
    font-weight: 400;

}

.noglyphs{
    font-family: 'Linefont';
    font-weight: 200;
}