body {
    background-color: darkcyan;

}

header{
    position:fixed;
    background-color:white;
    border-width: 5px;
    margin:auto;
    height: 2.5em;
    width: 100%;

}

.maincontainer {
    /* Draw a solid border make it lightseagreen */
    border-style:groove;
    border-width: 10px;
    border-color: lightseagreen;
    /*Add space between the border and its inside elements. */
    background: white;
    width: 75%;
    margin: auto;
}

.menu-item{
    display: inline-block;
    margin: 0%;
    min-width: 6em;
    min-height: auto;
    padding: 2px;
}

.menu-item-dropdown{
    display: inline-block;
    margin: 0%;
    min-width: 6em;
    min-height: auto;
    padding: 2px;
}

.dropdown-content{
    display: none;
    position: absolute;
    margin: 0;
    margin-top: .5em;
    min-width: 6em;
   
}



.menu-item-dropdown:hover .dropdown-content {
    display: block;
}


.dropdown-item{
    display: inline-block;
    margin: 0%;
    min-width: 6em;
    min-height: auto;
    padding: 2px;
}




h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.opening-paragapgh{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.second-parahraph{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}