div
{
    text-align: center;
    line-height: 3px;
    font-family: 'Heathergreen', 'normal';
    margin-bottom: 10px;
    padding: 5px;
}

.parent-container
{
    align-items: center;
    margin: auto;
    width: 50%;
    min-width: 200;
    max-width: 300;
    height: 150 px;
    background-color: cadetblue;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

body
{
font-family: 'AntipastoPro_traial' ;
font-size: 10px;
background-color:aliceblue ;
}

h1, h2, h3
{
text-align: center;
font-family: 'AntipastoPro_trail';
}

.opening-paragraph
{
    color: black ;
    font-size: 10px ;
    text-indent: 15px;
    font-style: normal;
}

.image
{
    float: inline;
    float: left;
    position: center;
}

.text-box
{
    font-family:'JosefinSans_SemiBold';
    font-size: 15px;
    width: 100%;
    min-width: 50px;
    max-width: 100px;
    background-color: darkcyan;
    margin: auto;
}

.tip-header
{
    font-size: 10px;
    padding: 1em;
    text-align: center;
    color:black;
    background-color: darkseagreen;
}

.hidden-contect
{
    display: none;
    font-size: 8px;
    font-style: italic;
    padding: auto;
}

.text-box :hover .hidden-contect
{
    display: block;
}

.header
{
    position: fixed;
    top: 0px;
    background-color: darkgray;
    font-family:'Heathergreen';
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: right;  
}